.resume {
    padding-left: 0rem;
    background-color:dimgrey;
   
}
.resume img{
    border: 12px;
    border-color: rgb(0, 1, 1);
    padding-top: 5rem;
    position:absolute;
}

.this{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(148, 205, 166);
    width: 30%;
    
    margin-top: 3rem;
} 
